@font-face {
  src: url("/Poppins/Poppins-Light.ttf") format("truetype");
  font-family: "Poppins";
  font-weight: 300;
}

@font-face {
  src: url("/Poppins/Poppins-Medium.ttf") format("truetype");
  font-family: "Poppins";
  font-weight: 500;
}

@font-face {
  src: url("/Poppins/Poppins-SemiBold.ttf") format("truetype");
  font-family: "Poppins";
  font-weight: 600;
}

@font-face {
  src: url("/Poppins/Poppins-Bold.ttf") format("truetype");
  font-family: "Poppins";
  font-weight: 700;
}

body {
  background: linear-gradient(222.19deg, #f0f0f0 23.77%, #ffffff 98.02%);
}
