[submodule "feedback-api/feedback-api"]
	path = feedback-api
	url = git@github.com:LeastAuthority/feedback-api.git
[submodule "client/vendor/magic-wormhole.rs"]
	path = client/vendor/magic-wormhole.rs
	url = https://github.com/magic-wormhole/magic-wormhole.rs
