.layout {
  width: 100vw;
  max-width: 1080px;
  height: 100vh;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 1rem;
  overflow: hidden;
  display: grid;
  grid-template-rows: 80px 1fr 80px;
}

@media screen and (max-width: 640px) {
  .layout {
    padding: 1rem 0;
  }
}

.spacer {
  flex: 1;
}

.navbar {
  display: flex;
  align-items: center;
}

.navbarTitle {
  font-size: 2rem;
}

.icon {
  height: 1rem;
  margin-right: 0.5rem;
}

.content {
  background-color: white;
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.footer {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  font-size: 13px;
  font-weight: 600;
}

.footerLinks {
  width: 380px;
  display: inline-flex;
  justify-content: space-between;
  margin-left: 40px;
}

.footerLinks > a {
  text-decoration: none;
  color: #222;
}

.footerLa {
  flex: 1;
  text-align: right;
  color: #666;
}

.footerLa > img {
  height: 28px;
  vertical-align: middle;
}
