.container {
  z-index: -100;
  overflow: hidden;
  position: absolute;
  height: 100vh;
  width: 100vw;
}

.circle {
  position: relative;
  -webkit-clip-path: circle(45vw);
  clip-path: circle(45vw);
  top: 0vw;
  left: -4vw;
  height: 134vh;
  width: 100vw;
  background: #9ee6f5;
}
