name: transfer-repo-CI
on: [push, pull_request]
jobs:
  build:
    name: Build/Test
    runs-on: ${{ matrix.os }}
    timeout-minutes: 10
    strategy:
      matrix:
        go-version: [1.16.2]
        os: [ubuntu-latest]
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
        with:
            submodules: recursive

      - name: setup npm, yarn etc.
        uses: actions/setup-node@v2
        with:
          node-version: '16'

      - name: Install docker and docker-compose
        run: |
           sudo curl -o /usr/local/bin/docker-compose -L "https://github.com/docker/compose/releases/download/v2.6.1/docker-compose-linux-x86_64"
           sudo chmod +x /usr/local/bin/docker-compose

      - name: setup for running tests
        run: |
          IP=$(ip address show  eth0 | grep inet | cut -d ' ' -f 6 | cut -d '/' -f1 | head -n1)
          printf "HOST_IP address is: %s\n" "$HOST_IP"
          cat <<EOF >> ./client-e2e/.env
          HOST_IP="$IP"
          EOF

      - name: Setup docker images
        run: docker-compose --profile e2e build

      - name: build client
        run: docker-compose --profile e2e run client npm i

      - name: build client-e2e
        run: docker-compose --profile e2e run client-e2e npm i

      - name: run unit and integration tests
        run: |
          docker-compose --profile e2e up -d client
          docker-compose --profile e2e run client npm run test


      - name: run  end-to-end tests
        run: |
          docker-compose --profile e2e run --rm client-e2e
          docker-compose --profile e2e down

      - name: stop the containers
        run: docker-compose --profile e2e down
